* {
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
}

header {
	padding: 20px;
}

header h1 {
	display: inline-block;
	background: #e80be8;
	font-size: 25px;
	text-transform: uppercase;
}

header nav {
	float: right;
	background: #fffa00;
}

header nav ul li {
	display: inline-block;
	margin: 10px;

}

header nav ul li a {
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
}

main,
aside {
	display: inline-block;
	width: 75%;
	vertical-align: top;
	margin-top: 50px;
}

.main {
	margin-top: 30px;
}

article {
	padding: 20px;
}

main article p {
	display: inline-block;
	color: white;
	background: #8a8ade;
    padding: 10px;
}

.Uno {
	width: 30%;
	margin-right: 23px;
}

.Dos {
	width: 97%;
	margin-top: 20px;
}

aside {
	width: 20%;
	height: 430px;
	padding: 20px;
	display: inline-block;
	text-align: center;
	color: white;
	text-transform: uppercase;
	background: #47535f;
	float: right;
	margin-right: 20px;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
	aside {
		margin: 20px 20px 10px;
		width: 96%;
		height: 50px;
	}

	.main {
		width: 100%;
		margin-top: 0px;
	}

	.pri {
		width: 48%;
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.sec {
		width: 100%;
	}

	.bor {
		margin-right: 34px;
	}
}


@media screen and (max-width: 768px) {
	header nav {
		float: none;
		width: 18%;
		margin-top: 20px;
	}

	header nav ul li {
		margin: 5px;
		text-align: center;
	}

	aside {
		display: none;
	}

	.main {
		width: 100%;
		margin-top: 0px;
	}

	main article {
		padding: 0px 20px;
	}

	.Uno,
	.Dos {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 25px;
	}
}